<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-844J9WXHSQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-844J9WXHSQ');
</script>
    <!-- General meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

<a rel="me" href="https://mastodon.social/@paddysplace">Mastodon</a>
    {% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% if page.collectionpage %}
      {% seo title=false %}

      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <title>{{ collectiondata.title }} - {{ site.title }}</title>
      <meta property="og:title" content="{{ collectiondata.title }}">
      <meta name="description" content="{{ collectiondata.description }}">
      <meta property="og:description" content="{{ collectiondata.description }}">
    {% else %}
      {% seo %}
    {% endif %}
    {% if site.fonts.preconnect_urls %}
      {% for url in site.fonts.preconnect_urls %}
        <link rel="preconnect" href="{{ url }}" crossorigin />
      {% endfor %}
    {% endif %}

    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>

    {% if site.css_inline == true %}
      {% include site-styles.html %}
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    {% endif %}

    {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}

    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

    {% include site-fonts.html %}

    {% include site-before-start.html %}
    <!-- MailerLite Universal -->
<script>
  (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
  var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
  f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
  var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
  _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
  
  var ml_account = ml('accounts', '3276997', 's1h6m5g1k8', 'load');
  </script>
  <!-- End MailerLite Universal -->
  
  </head>

  <body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-icons.svg %}

    {{ content }}

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}

    {% include site-before-end.html %}


  </body>

</html>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/f13a976e845b10747d77e34c1/770d61cc8c553eaf0a32897bf.js");</script>
